# NetBeans
/nbproject/
/build/
/dist/
/.nb-gradle/

# Sistema
.DS_Store
Thumbs.db

# Logs
*.log

# Banco de dados local
*.db
*.sqlite

# Arquivos compilados
*.class
*.jar
*.war
*.ear

# IDE
.idea/
*.iml
.vscode/
.settings/
.classpath
.project
